.banner-container {
  padding: 70px 100px;
  background-color: $secondary-color;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .header {
    font-size: $xl-font-size;
    font-weight: 600;
    padding-block-end: 2px ;
    border-bottom: 2px solid white;
  }
  .content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    width: 90%;

    svg {
      width: 200px;
      height: auto;
    }

    .content-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      margin-block-start: 3%;
      
      .title {
        background-color: $dark-blue;
        padding: 2% 4%;
        border-radius: 5px;
        font-weight: 600;
        margin-block-start: 3%;
      }

      .description {
        text-align: center;
        margin-block-start: 3%;
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .banner-container {
    padding: 70px 30px;
    .content {
      flex-direction: column;
    }
  }
}
@media only screen and (max-width: 700px) {
  .banner-container {
    padding: 70px 0px;
    .content {  
      svg {
        width: 150px;
        height: auto;
      }  
    }
  }
}
@media only screen and (max-width: 900px) {
  .banner-container {
    padding: 70px 30px;
  }
}