@import "globals";
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.card-container {
  width: 25vw;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 15px grey;
  margin-bottom: 50px;

  img {
    width: 100%;
  }
  .top-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $secondary-color;
    padding: 20px 10px 0 10px;

    .logo {
      width: 30%;
    }

    .heart-logo {
      width: 20%;
    }

    .family-logo {
      width: 20%;
    }
  }
  .middle-container {
    background-color: $secondary-color;
    border-top: 3 / 16 * $default-size-unit solid $light-grey;
    color: white;
    font-size: $l-font-size;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    .card-title {
      #first-title {
        color: $light-green;
      }
    }
    .card-subtitle {
      margin-block-start: 10px;
      font-size: $xs-font-size;
    }
  }
  .bottom-container {
    height: 250px;
    background-color: $light-grey;
    display: flex;
    align-items: center;
    justify-content: center;

    .content-container {
      width: fit-content;

      div {
        font-size: $m-font-size;
        padding-bottom: 20px;
      }
    }
  }
}


@media only screen and (max-width: 1200px) {
  .card-container {
    width: 40vw;
    
    .bottom-container {
      height: 200px;

      .content-container {
        div {
          font-size: $xs-font-size;
          padding-bottom: 20px;
        }
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .card-container {
    width: 90vw;
    .bottom-container {
      height: 200px;

      .content-container {
        div {
          font-size: $s-font-size;
          padding-bottom: 20px;
        }
      }
    }
  }
}
