@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/* colors */

$primary-color: #274f73;
$secondary-color: #1d232a;
$light-blue: #309fda;
$dark-blue: #1557b9;
$light-grey: #f5f5f5;
$light-green: #4de9cb;

/* sizes */

$default-size-unit: 1rem;
$xxs-font-size: calc(8 / 16 * 1rem);
$xs-font-size: calc(12 / 16 * 1rem);
$s-font-size: calc(14 / 16 * 1rem);
$m-font-size: 1rem;
$ml-font-size: calc(18 / 16 * 1rem);
$l-font-size: calc(21 / 16 * 1rem);
$xl-font-size: calc(24 / 16 * 1rem);
$xxl-font-size: calc(36 / 16 * 1rem);
